name: CI

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - "5.1.0"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: install dependencies
        run: opam install . --deps-only

      - name: build package
        run: opam exec -- dune build -p fl_jikken @install

      - name: install fl_jikken
        run: opam exec -- dune install

      - name: install fl_jikken-unifier
        run: opam exec -- ocamlfind install fl-jikken-unifier unifier/META unifier/constraintSolver.cmi unifier/constraintSolver.cmo unifier/constraintSolver.mli unifier/tySyntax.cmi unifier/tySyntax.cmo unifier/tySyntax.mli
